@use '/src/renderer/styles/variables';

.component {
    align-items: center;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 6px;
    display: flex;
    flex-basis: 40px;
    height: 40px;
    justify-content: center;
    margin: 0;
    min-width: 40px;
    padding: 4px;
    width: 40px;
}