.component {
    td, th {
        padding: 16px 24px;
    }

    &__tbody {

    }

    &__tbodyLink {
        align-items: center;
        display: flex;
        height: 24px;
        justify-content: center;
        width: 24px;
    }

    &__tbodyRow {
        
    }

    &__thead {
    }

    &__theadRow {
        
    }
}