$box-shadow-large: 0px 0px 0px 0px rgba(0, 78, 97, 0.10), 0px 79px 173px 0px rgba(0, 78, 97, 0.10), 0px 315px 315px 0px rgba(0, 78, 97, 0.09), 0px 708px 425px 0px rgba(0, 78, 97, 0.05), 0px 1258px 503px 0px rgba(0, 78, 97, 0.01), 0px 1966px 551px 0px rgba(0, 78, 97, 0.00);
$box-shadow-small: 0px 0px 0px 0px rgba(0, 78, 97, 0.05), 0px 6px 14px 0px rgba(0, 78, 97, 0.05), 0px 25px 25px 0px rgba(0, 78, 97, 0.05), 0px 56px 34px 0px rgba(0, 78, 97, 0.03), 0px 100px 40px 0px rgba(0, 78, 97, 0.01), 0px 156px 44px 0px rgba(0, 78, 97, 0.00);

$color-main: #00A6FF;
$color-main-transition-light: #00C3FF;
$color-main-transition-dark: #0084D9;
$color-dark: #32324D;