@use '/src/renderer/styles/variables';

.component {
    border-radius: 10px;
    height: 100%;
    width: 100%;

    &__buttons {
        align-items: center;
        display: flex;
        gap: 16px;
    }

    &__button {
        align-items: center;
        background-color: transparent;
        display: flex;
        height: 24px;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 24px;
    }
}