@use '/src/renderer/styles/variables';

.component {
    position: relative;
    width: 100%;

    &:hover {
        svg {
            path {
                fill: variables.$color-main;
            }
        }
    }

    &__icon {
        height: 100%;
        padding: 4px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 1;
    }
}